body{
    background-color: rgb(255, 254, 245);
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



.top-header{
    background-color: rgb(37, 37, 94);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0%;
}


.top-text{
    color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    font-weight: bold;
}



.header{
background-color: rgb(238, 255, 254);
color: rgb(60, 96, 175);
width: 100%;
margin: 0%;
}

.moving-header{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
   
.left-top, .right-top{ 
    display: flex;
    gap: 15px;
}

.sticky-header{
    position: sticky;
    top: 0%;
    z-index: 100;
}


.main{
    background-color: #eefffe;
    color: black;
}

.top_banner{
     width: 100%;
     position: relative;
     overflow: hidden;
     margin: 0%;
     padding: 0%;
}


.summer-banner{
    border-radius:0px;
    width: 100%;
    overflow: hidden;
    display: block;
    object-fit: cover;
    
}

.banner-text{
    position: absolute;
    top: 20%;
    left: 7%;
    font-size: 74px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(241, 253, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: -4px -6px 0 rgb(255, 8, 181),
                 2px 2px 0 rgb(17, 16, 43), 
                 6px 7px 0 rgb(255, 115, 0), 
                 5px 6px 0 rgb(255, 115, 0),
                 4px 5px 0 rgb(255, 115, 0),
                 3px 4px 0 rgb(255, 115, 0); 
    -webkit-text-stroke: 2.5px rgb(17, 16, 43);
                 

}

.top_banner button{
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(218, 16, 157);
    padding: 15px 50px;
    background-color: rgb(241, 253, 255);
    border-radius: 35px;
    border: none;
    box-shadow: 3px 3px 0 rgb(240, 110, 4);
 }


 .time-offer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, white,#fdefb0);
 }

 .time-offer-h{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    letter-spacing: 1px;
    color:rgb(60, 96, 175);
 }

 .container-special-offers{
  width: 100%; 
  background-color: rgb(253, 239, 176);
}

.limited-time-offers{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 6px;
    padding-top: 35px;
    gap:35px;
  }

 .time-offer-product{
   flex:1; 
   height: 100%;
   flex-direction: column;
 }

 .time-offer-product img{
    width: 100%;
    height: 100%;
 }


.usual-offer-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to top, #eefffe,#fdefb0);
 }

 .usual-offer-h{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 34px;
    letter-spacing: 1px;
    color:rgb(60, 96, 175);
 }

.container-products-offers{
width: 100%; 
background-color: #eefffe;
}

.products-offers{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 185px;
    margin-left: 125px;
    margin-right: 125px;
    padding-bottom: 6px;
    padding-top: 27px;
 }

 .product{
   flex:1 1 20%; 
   height: 100%;
   flex-direction: column;
 }

 .product img{
    width: 100%;
    height: 100%;
 }



.small-banner{
    background-color: rgb(143, 208, 238);
    display: flex;
    margin-left: 125px;
    margin-right: 125px;
    margin-bottom: 100px;
    border-radius:50px;
    height: 550px;
    overflow: hidden;
    }


.half-small-banner{
 display: flex;
 justify-content: space-between;
 width: 100%;
}


.info-banner{
    display: flex;
    justify-content: center;
    align-items:last baseline;
    flex-direction: column;
    width: 600px;
    transform: translate(-65px,-10px);
}

.info-banner p {
 text-align: left;
 font-size: 16px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
} 

.info-banner h2 {
 text-align: left;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin-bottom: 0% ;
}

.info-banner button {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 16px;
padding: 14px 24px;
border-radius: 25px;
background-color: rgb(191, 223, 238);
color: rgb(60, 96, 175);
border-color: rgb(74, 115, 168);
border-width: 4px;
margin-top: 6px;
transform: translate(-5px);
}


.eco-banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items: last baseline;
width: 600px;
transform: translate(-150px,-10px);
}



.eco-banner button {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 16px;
padding: 14px 24px;
border-radius: 25px;
background-color: rgb(191, 223, 238);
color: rgb(60, 96, 175);
border-color: rgb(74, 115, 168);
border-width: 4px;
margin-top: 6px;
transform: translate(-5px);
}

.eco-banner p {
 text-align: left;
 font-size: 16px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
} 

.eco-banner h2 {
 text-align: left;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin-bottom: 0% ;
}


.social-media-banner{
display: flex;
flex-direction: column;
justify-content: center;
align-items:last baseline;
width: 600px;
transform: translate(-95px,-10px);
}

.social-media-banner h2 {
 text-align: left;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 margin-bottom: 0% ;
}

.social-media-banner p {
 text-align: left;
 font-size: 16px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
} 

.socialmedia-logos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 15px;
    }

.socialmedia-logo{
 width:110%;

}

.top-footer{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    width: 100%;
    height: 700px;
    background-color:rgb(108, 162, 233);
    gap: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.column-footer{
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    transform: translate(0, 50px);
    }

.column-footer p{
    margin-bottom: 5px;
}

.column-footer li{
  margin-bottom: 15px;
}



.footer{
    background-color: rgb(64, 109, 175);
    color: rgb(108, 162, 233);
    display: flex;
    flex-direction: column;
   }

.footer-iteams{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



ul{
 list-style-type: none; 
 margin: 0%;
 padding: 0%;
}

a{
    text-decoration: none;
}


.moving-header
{
    padding-left: 15px;
    padding-right: 15px;
}